In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [8]:
df=pd.read_csv("C:/Users/athar/OneDrive/Desktop/Practical/DSPrac/autodata - autodata.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         201 non-null    int64
 1   symboling          201 non-null    int64
 2   normalized-losses  201 non-null    int64
 3   make               201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             197 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         199 non-null    float64
 22  peak-rpm           199 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    int64
 26  city-L/100km       201 non-null    float64
 27  horsepower-binned  199 non-null    object
 28  diesel             201 non-null    int64
 29  gas                201 non-null    int64
dtypes: float64(10), int64(10), object(10)
memory usage: 47.2+ KB

In [30]:
df

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0.000,1.0,0.298429,0,0,1,0,2,0,0.058309,...,0.12500,0.294393,0.346939,0.222222,0.289474,0.207959,0.481481,1,0.0,1.0
1,0.005,1.0,0.298429,0,0,1,0,2,0,0.058309,...,0.12500,0.294393,0.346939,0.222222,0.289474,0.282558,0.481481,1,0.0,1.0
2,0.010,0.6,0.298429,0,0,1,2,2,0,0.230321,...,0.12500,0.495327,0.346939,0.166667,0.263158,0.282558,0.570175,2,0.0,1.0
3,0.015,0.8,0.518325,1,0,0,3,1,0,0.384840,...,0.18750,0.252336,0.551020,0.305556,0.368421,0.219254,0.376157,1,0.0,1.0
4,0.020,0.8,0.518325,1,0,0,3,0,0,0.373178,...,0.06250,0.313084,0.551020,0.138889,0.157895,0.306142,0.621914,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.980,0.2,0.157068,21,0,0,3,2,0,0.655977,...,0.15625,0.308411,0.510204,0.277778,0.315789,0.291123,0.408213,1,0.0,1.0
197,0.985,0.2,0.157068,21,1,0,3,2,0,0.655977,...,0.10625,0.523364,0.469388,0.166667,0.236842,0.345738,0.570175,2,0.0,1.0
198,0.990,0.2,0.157068,21,0,0,3,2,0,0.655977,...,0.11250,0.401869,0.551020,0.138889,0.184211,0.406311,0.621914,2,0.0,1.0
199,0.995,0.2,0.157068,21,1,0,3,2,0,0.655977,...,1.00000,0.271028,0.265306,0.361111,0.289474,0.430763,0.319444,1,1.0,0.0
200,1.000,0.2,0.157068,21,1,0,3,2,0,0.655977,...,0.15625,0.308411,0.510204,0.166667,0.236842,0.434611,0.570175,1,0.0,1.0

In [9]:
df.describe()

,Unnamed: 0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
count,201.000000,201.000000,201.00000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,197.000000,201.000000,199.000000,199.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,100.000000,0.840796,122.00000,98.797015,0.837102,0.915126,53.766667,2555.666667,126.875622,3.330692,3.256904,10.164279,103.396985,5117.587940,25.179104,30.686567,13207.129353,9.944145,0.099502,0.900498
std,58.167861,1.254802,31.99625,6.066366,0.059213,0.029187,2.447822,517.296727,41.546834,0.268072,0.319256,4.004965,37.553843,480.521824,6.423220,6.815150,7947.066342,2.534599,0.300083,0.300083
min,0.000000,-2.000000,65.00000,86.600000,0.678039,0.837500,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000,4.795918,0.000000,0.000000
25%,50.000000,0.000000,101.00000,94.500000,0.801538,0.890278,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000,7.833333,0.000000,1.000000
50%,100.000000,1.000000,122.00000,97.000000,0.832292,0.909722,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000,9.791667,0.000000,1.000000
75%,150.000000,2.000000,137.00000,102.400000,0.881788,0.925000,55.500000,2926.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000,12.368421,0.000000,1.000000
max,200.000000,3.000000,256.00000,120.900000,1.000000,1.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000,18.076923,1.000000,1.000000

In [10]:
df.isnull().sum()

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               4
compression-ratio    0
horsepower           2
peak-rpm             2
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    2
diesel               0
gas                  0
dtype: int64

In [11]:
df["stroke"].fillna(df["stroke"].mean(), inplace=True)
df["horsepower"].fillna(df["horsepower"].mean(), inplace=True)
df["peak-rpm"].fillna(df["peak-rpm"].mean(), inplace=True)
;
df["horsepower-binned"].fillna(df["horsepower-binned"].mode()[0], inplace=True)

In [12]:
df.isnull().sum()

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
city-L/100km         0
horsepower-binned    0
diesel               0
gas                  0
dtype: int64

In [14]:
df.dtypes

Unnamed: 0             int64
symboling              int64
normalized-losses      int64
make                  object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
city-L/100km         float64
horsepower-binned     object
diesel                 int64
gas                    int64
dtype: object

In [18]:
categorical_val = df.select_dtypes(include=["object"]).columns
label_encoders={}

for col in categorical_val:
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])
    label_encoders[col]=le

In [19]:
df.dtypes

Unnamed: 0             int64
symboling              int64
normalized-losses      int64
make                   int32
aspiration             int32
num-of-doors           int32
body-style             int32
drive-wheels           int32
engine-location        int32
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int32
num-of-cylinders       int32
engine-size            int64
fuel-system            int32
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
city-L/100km         float64
horsepower-binned      int32
diesel                 int64
gas                    int64
dtype: object

In [27]:
df.head()

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0.000,1.0,0.298429,0,0,1,0,2,0,0.058309,...,0.1250,0.294393,0.346939,0.222222,0.289474,0.207959,0.481481,1,0.0,1.0
1,0.005,1.0,0.298429,0,0,1,0,2,0,0.058309,...,0.1250,0.294393,0.346939,0.222222,0.289474,0.282558,0.481481,1,0.0,1.0
2,0.010,0.6,0.298429,0,0,1,2,2,0,0.230321,...,0.1250,0.495327,0.346939,0.166667,0.263158,0.282558,0.570175,2,0.0,1.0
3,0.015,0.8,0.518325,1,0,0,3,1,0,0.384840,...,0.1875,0.252336,0.551020,0.305556,0.368421,0.219254,0.376157,1,0.0,1.0
4,0.020,0.8,0.518325,1,0,0,3,0,0,0.373178,...,0.0625,0.313084,0.551020,0.138889,0.157895,0.306142,0.621914,1,0.0,1.0

In [29]:
df.shape

(201, 30)